<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrationBean</servlet-name>
        <servlet-class>userBean.RegistrationBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginBean</servlet-name>
        <servlet-class>userBean.LoginBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPurchaserBean</servlet-name>
        <servlet-class>userBean.EditPurchaserBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TenderDocComBean</servlet-name>
        <servlet-class>userBean.TenderDocComBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectBean</servlet-name>
        <servlet-class>userBean.ProjectBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupsBean</servlet-name>
        <servlet-class>userBean.GroupsBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindGroups</servlet-name>
        <servlet-class>userBean.FindGroups</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSupplierDao</servlet-name>
        <servlet-class>userBean.FindSupplierDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSupplier</servlet-name>
        <servlet-class>userBean.FindSupplier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaserProSpceBean</servlet-name>
        <servlet-class>userBean.PurchaserProSpceBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSupplierBean</servlet-name>
        <servlet-class>userBean.EditSupplierBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SupplierProSpceBean</servlet-name>
        <servlet-class>userBean.SupplierProSpceBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuctionBean</servlet-name>
        <servlet-class>userBean.AuctionBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePurchaserProSpce</servlet-name>
        <servlet-class>userBean.DeletePurchaserProSpce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSupplierProSpceBean</servlet-name>
        <servlet-class>userBean.UpdateSupplierProSpceBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindSupplierSpceBean</servlet-name>
        <servlet-class>userBean.FindSupplierSpceBean</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationBean</servlet-name>
        <url-pattern>/RegistrationBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginBean</servlet-name>
        <url-pattern>/LoginBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPurchaserBean</servlet-name>
        <url-pattern>/EditPurchaserBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TenderDocComBean</servlet-name>
        <url-pattern>/TenderDocComBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectBean</servlet-name>
        <url-pattern>/ProjectBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupsBean</servlet-name>
        <url-pattern>/GroupsBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindGroups</servlet-name>
        <url-pattern>/FindGroups</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSupplierDao</servlet-name>
        <url-pattern>/FindSupplierDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSupplier</servlet-name>
        <url-pattern>/FindSupplier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaserProSpceBean</servlet-name>
        <url-pattern>/PurchaserProSpceBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSupplierBean</servlet-name>
        <url-pattern>/EditSupplierBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SupplierProSpceBean</servlet-name>
        <url-pattern>/SupplierProSpceBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuctionBean</servlet-name>
        <url-pattern>/AuctionBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePurchaserProSpce</servlet-name>
        <url-pattern>/DeletePurchaserProSpce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSupplierProSpceBean</servlet-name>
        <url-pattern>/UpdateSupplierProSpceBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindSupplierSpceBean</servlet-name>
        <url-pattern>/FindSupplierSpceBean</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
